.input{
    width: 30%;
    margin-top: 10px;
    margin-left: 30em;
}
.inputEditForm{
    width: 30%;
    margin-top: 10px;
    margin-left: 30em;
}
.buttonEdit{
    width: 30%;
    margin-top: 3px;
    margin-left: 34.3em;
}
.divDeleteTable{
    font-size: 18px;
}
.button-next{
    width: 30%;
    margin-top: 3px;
    margin-left: 34.3em;
}
.delete_Button{
    margin-left: 20px;
}
.table_length{
    color: black;
}
.inputArhivForm{
    width: 15%;
}
.text-field__input {
    display: block;
    width: 13%;
    height: 33px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: inline;
  }